<%= form_for [@dash, @metric],  html: { class: "form-horizontal" } do |f| %>
  <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% @metric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Widget Title", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control", placeholder: "Eg: Prod-App Memory Usage" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :widget_type, "Widget Type", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div class="radio">
        <label>
          <%= f.radio_button :widget_type, "widget_image" %>
          Use Image URL realtime
          Use Image URL realtime. <small>Eg: http://graphite.prod.ch4.s.com/render?target=servers.xxapp1.vmstats.memUsedPct&height=800&width=600</small> 
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :widget_type, "widget_iframe" %>
          Use iFrame to render HTML widget. <small>Eg: <%= "<iframe src=\"https://rpm.newrelic.com/public/charts/894U680X2dC1\"></iframe>" %></small>
        </label>
      </div>
      <div class="radio">
        <label>
          <%= f.radio_button :widget_type, "widget_json" %>
          Use JSON URL realtime. <small>Eg: http://graphite.prod.ch4.s.com/render?target=servers.xxapp1.vmstats.memUsedPct&format=json</small> 
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :widget_data, "Widget Image URL or iFrame", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :widget_data, class: "form-control", placeholder: "Eg: http://graphite.prod.ch4.s.com/render?target=servers.xxapp1.vmstats.memUsedPct&height=800&width=600", rows: 2 %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <div class="pull-right">
        <%= link_to "Cancel", @metric.persisted? ? dash_metric_path(@dash, @metric) : dash_metrics_path(@dash), class: "btn btn-link btn-sm" %>
        <%= f.submit "Save", class: "btn btn-default" %>
      </div>
    </div>
  </div>

<% end %>

