<% if metrics.present? %>
  <div class="row">
    <% metrics.each do |metric| %>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 metric-widget" data-url="<%= dash_metric_path(dash, metric) %>" data-refreshable="<%= metric.widget_iframe? ? 0 : 1 %>" id="metric-<%=metric.id%>">
        <%= render '/metrics/metric_item', metric: metric %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="lead">No widgets added to this dash</p>
<% end %>
