<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to metric.title, [@dash, metric] %>
    </h3>
  </div>
  <div class="panel-body">
    <% if metric.widget_image? %>
      <%= image_tag metric.widget_data, class: "img-responsive" %>
    <% else %>
      <div class="embed-responsive embed-responsive-4by4">
        <%= raw metric.widget_data %>
      </div>
    <% end %>
  </div>
</div>

