<% content_for :page_title do %>
  Edit Widget
<% end %>

<% content_for :page_actions do %>
  <p class="pull-right">
  <%= link_to 'Show', [@dash, @metric], class: "btn btn-default btn-sm" %>
  <%= link_to 'Back', dash_metrics_path(@dash), class: "btn btn-default btn-sm" %>
  </p>
<% end %>

<%= render 'form' %>

<hr />
