<% content_for :page_title do %>
  <%= @dash.name %>
<% end %>

<% content_for :page_actions do %>
  <p class="pull-right">
  <%= link_to "Add New Widget", new_dash_metric_path(@dash), class: "btn btn-default btn-sm" %>
  </p>
<% end %>

<div class="row">
  <% @metrics.each do |metric| %>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <%= render 'metric_item', metric: metric %>
    </div>
  <% end %>
</div>
