<% content_for :page_title do %>
  New Widget
<% end %>

<% content_for :page_actions do %>
  <p class="pull-right">
  <%= link_to 'Back', @dash, class: "btn btn-default btn-sm" %>
  </p>
<% end %>

<%= render 'form' %>

