<% content_for :page_title do %>
  <%= @metric.title %>
<% end %>

<% content_for :page_actions do %>
  <p class="pull-right">
    <%= link_to 'Back', dash_path(@dash), class: "btn btn-default btn-sm" %>
    <%= link_to 'Edit', edit_dash_metric_path(@dash, @metric), class: "btn btn-default btn-sm" %>
    <%= link_to 'Delete', dash_metric_path(@dash, @metric), method: :delete, class: "btn btn-danger btn-sm" %>
  </p>
<% end %>

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <% if @metric.widget_image? %>
      <%= image_tag @metric.widget_data, class: "img-responsive" %>
    <% else %>
      <div class="embed-responsive embed-responsive-4by3">
        <%= raw @metric.widget_data %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 clearfix">
    <div class="well well-sm clearfix">
      <p> <strong>Name:</strong> <%= @metric.title %> </p>
      <p style="text-wrap: none; word-wrap: break-word;"> <strong>Widget:</strong> <span> <%= @metric.widget_data %> </span></p>
    </div>
  </div>
</div>
