<% metric = dash.metrics.first %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to dash.name, dash %>
    </h3>
  </div>
  <div class="panel-body">
    <% if metric.present? %>
      <% if metric.widget_image? %>
        <%= image_tag metric.widget_data, class: "img-responsive" %>
      <% else %>
        <div class="embed-responsive embed-responsive-4by4">
          <%= raw metric.widget_data %>
        </div>
      <% end %>
    <% else %>
      <%= image_tag "http://placeholdit.imgix.net/~text?txtsize=33&txt=New-Dash&w=550&h=550", class: "img-responsive" %>
    <% end %>
  </div>
</div>

