<%= form_for @dash,  html: { class: "form-vertical" } do |f| %>
  <% if @dash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dash.errors.count, "error") %> prohibited this dash from being saved:</h2>

      <ul>
      <% @dash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-12">
    <div class="form-group">
      <%= f.label :name, "Dash Title", class: "control-label" %>
      <%= f.text_field :name, class: "form-control", placeholder: "Title for the dash" %>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <%= f.label :refresh_interval, "Dash Refresh Interval (in milliseconds)", class: "control-label" %>
      <%= f.text_field :refresh_interval, class: "form-control", placeholder: "Default: 10000" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <div class="pull-right">
        <%= link_to "Cancel", dashes_path, class: "btn btn-link btn-sm" %>
        <%= f.submit "Save", class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
