<% content_for :page_title do %>
  Dashboards
<% end %>

<% content_for :page_actions do %>
  <p class="pull-right">
    <%= link_to "Create New Dash", new_dash_path, class: "btn btn-default btn-sm" %>
  </p>
<% end %>

<div class="row">
  <% @dashes.each do |dash| %>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <%= render 'dash_item', dash: dash %>
    </div>
  <% end %>
</div>
