<% content_for :page_title do %>
  New Dash
<% end %>

<% content_for :page_actions do %>
  <p class="pull-right">
  <%= link_to 'Back', dashes_path, class: "btn btn-default btn-sm" %>
  </p>
<% end %>

<%= render 'form' %>

