<% content_for :page_title do %>
  <%= @dash.name %>
<% end %>

<% content_for :page_actions do %>
  <p class="pull-right">
  <%= link_to "Add New Widget", new_dash_metric_path(@dash), class: "btn btn-default btn-sm" %>
  <%= link_to 'Edit', edit_dash_path(@dash), class: "btn btn-warning btn-sm" %>
  <%= link_to 'Back', dashes_path, class: "btn btn-default btn-sm" %>
  </p>
<% end %>

<div id="metrics">
  <%= render '/metrics/metrics', metrics: @metrics, dash: @dash %>
</div>

<% content_for :js do %>
  var refreshWidgets = function() {
    $(".metric-widget").each(function(index) { 
      widget_url = $(this).data("url");
      widget_refreshable = $(this).data("refreshable");
      console.log(widget_refreshable);
      if(widget_refreshable == "1") {
        $.getScript(widget_url);
      }
    });
  };
<% end %>

<% content_for :onload_js do %>
  $.getScript("<%= dash_metrics_path(@dash) %>");

  setInterval(function () {
    refreshWidgets();
    console.log("Refreshed");
  }, <%= @dash.refresh_interval || 10000 %>);
<% end %>

