asdfsd
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "DashWgt", dashes_path, class: "navbar-brand" %>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
        </li>
        <li>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      </ul>

    </div>
  </div>
</div>
