<script type="text/javascript">

  <%= yield :js %>

  var ajax_loader = "<%= j image_tag "ajax-loader.gif" %>";

  $(document).ready(function(){
    <%= yield :onload_js %>
  });

  <%# for turbolink page load event %>
  $(document).on("page:load", function(){
    <%# yield :onload_js %>
  });
</script>
